################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCode/ConsoleApp1/.vs/ConsoleApp1
/LeetCode/ConsoleApp1/obj
/LeetCode/Tests/bin/Debug/net7.0
/LeetCode/Tests/obj
/LeetCode/Solutions/.vs
/LeetCode/Solutions/obj
/LeetCode/Solutions/bin/Debug/net7.0
