################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LeetCode/Tests/bin
/LeetCode/Tests/obj
/LeetCode/Solutions/.vs
/LeetCode/Solutions/obj
/LeetCode/Solutions/bin/Debug/net7.0
/WordGame/.vs
/WordGame/obj
/WordGame/bin
